mat-form-field {
  margin-right: 12px;
}

.customInput {
  padding: 8px;
  border-color: #7625bb;
  border-style: solid;
}
  .customInput:focus {
    border-color: white;
    outline-offset: -2px;
    outline-color: #2bc917;
    outline-style: auto;
    outline-width: 3px;
  }
