.cellHead {
    padding: 10px;
}

.cell {
    padding: 10px;
    text-align: right,
  }

.emitent-profile {
    padding: 10px 0 10px 0;
}

.emitent-website {
    padding: 0 0 10px 0;
}

.share-statistics {
    padding: 10px 0 10px 0;
    &-item {
        display: flex;

        &-name {
            width: 200px;

        }

        &-value {
            font-weight: bold;
        }
    }
}

.chart {
    width: 300px;
    flex-shrink: 0;
}

.common_data{
    flex-grow: 1;
    overflow: hidden;
}