.cellHead {
    padding: 10px;
}

.cell {
    padding: 10px;
    text-align: right,
}

.emitentProfile {
    padding: 10px 0 10px 0;
}

.emitentWebsite {
    padding: 0 0 10px 0;
}

.shareStatistics {
    padding: 10px 0 10px 0;
}
.shareStatisticsItem {
        display: flex;
}

.shareStatisticsItemName {
        width: 200px;
}

.shareStatisticsItemValue {
    font-weight: bold;
}

.chart {
    width: 300px;
    flex-shrink: 0;
}

.commonData{
    flex-grow: 1;
    overflow: hidden;
}