.groupList {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.group {
}

.groupCaption {
  background-color: aliceblue;
  padding: 5px;
}

.groupBody {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.row {
  display: flex;
  align-items: start;
  gap: 7px;
}

.fieldTitle {
  width: 200px;
}

.field {
  width: 100px;
}

.fieldWithButton {
  width: 100px;
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 5px;
}

.fieldSmall {
  width: 60px;
}
