.product {

    width: 550px;
    border: #d1d1d1;
    border-style: solid;
    border-width: 1px;
    //background-color: #0e9379;
    margin-bottom: 10px;

    .product-position {
        display: flex;
        flex-direction: row;

        .pos-cell {
            padding: 4px;
            line-height: 30px;
        }

        .pos-code {
            //background-color: #ebeff3;
            width: 80px;
            text-align: right;
        }

        .pos-date {
            text-align: right;
            //background-color: #ebeff3;
            width: 100px;
        }

        .pos-limit {
            //background-color: #ebeff3;
            width: 80px;
            text-align: right;
        }

        .pos-cost {
            //background-color: #ebeff3;
            width: 80px;
            text-align: right;
        }

        .pos-profit {
            //background-color: #ebeff3;
            flex-grow: 1;
            text-align: right;
        }
    }

    .pos-with-icon {
        display: flex;
        flex-direction: row;
        .pos-icon {
            width: 30px;
            
            img {
                border-radius: 50%;
                width: 100%;
            }
        }

        .pos-text {
            flex-grow: 1;
            text-align: right;
        }
    }

    .product-header {
        font-weight: 450;
    }

    .product-footer {
        display: flex;
        flex-direction: row;
        justify-content:end;
        //background-color: #ebeff3;

        .total {
            padding: 4px;
            line-height: 30px;

        }
    }

    .green {
        color: #0cb51a;
    }

    .red {
        color: #b50c28;
    }

}