
<!--<mdc-tab-bar #financialTabBar [activeTabIndex]="0">
  <mdc-tab-scroller>
    <mdc-tab label="Common"></mdc-tab>
    <mdc-tab label="Incomes"></mdc-tab>
    <mdc-tab label="Favorites"></mdc-tab>
  </mdc-tab-scroller>
</mdc-tab-bar>-->

<div *ngIf="(topAppBarService.activeTabIndex | async) == 0">

  {{index}}

  <form [formGroup]="commonForm">
    <mdc-select placeholder="Emitent" formControlName="emitentCode" [helperText]="emitentCodeHelper">
      <mdc-menu>
        <mdc-list>
          <mdc-list-item *ngFor="let emitent of emitents" [value]="emitent.code" [disabled]="false">
            {{emitent.name}}
          </mdc-list-item>
        </mdc-list>
      </mdc-menu>
    </mdc-select>
    <mdc-select-helper-text #emitentCodeHelper validation>Field is required</mdc-select-helper-text>

    <mdc-form-field>
      <mdc-text-field type="number" formControlName="year" label="Year">

      </mdc-text-field>
      <mdc-helper-text validation>Field is required</mdc-helper-text>
    </mdc-form-field>
  </form>
</div>

<!--<div *ngIf="(topAppBarService.activeTabIndex$ | async) == 1">
  <form [formGroup]="incomesForm">
      <mdc-form-field>
          <mdc-text-field label="Revenue" currencyMask formControlName="revenue">
          </mdc-text-field>
          <mdc-helper-text validation>Field is required</mdc-helper-text>
      </mdc-form-field>
  </form>
</div>-->

  <!--<mat-horizontal-stepper [linear]="true">

    <mat-step [stepControl]="commonForm">
      <form [formGroup]="commonForm">
        <ng-template matStepLabel>Common</ng-template>


        <mat-form-field>
          <mat-label>Emitent</mat-label>
          <mat-select [formControl]="commonForm.controls['emitentId']">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let emitent of emitents" [value]="emitent.id">
              {{emitent.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Year" type="number" [formControl]="commonForm.controls['year']">
        </mat-form-field>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="incomesForm">
      <form [formGroup]="incomesForm">
        <ng-template matStepLabel>Incomes</ng-template>

        <div>
          <mat-form-field>
            <input matInput placeholder="Revenue" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="incomesForm.controls['revenue']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Operating Income" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="incomesForm.controls['operatingIncome']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Operating Expenses" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="incomesForm.controls['operatingExpenses']">
            <span matSuffix>млн.</span>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Net Income" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="incomesForm.controls['netIncome']">
            <span matSuffix>млн.</span>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Earnings Per Share" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="incomesForm.controls['earningsPerShare']">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Price" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="incomesForm.controls['price']">
          </mat-form-field>

        </div>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="assetsForm">
      <form [formGroup]="assetsForm">
        <ng-template matStepLabel>Assets</ng-template>

        <div>

          <mat-form-field>
            <input matInput placeholder="Current Assets" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="assetsForm.controls['currentAssets']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Fixed Assets" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="assetsForm.controls['fixedAssets']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Total Assets" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="assetsForm.controls['totalAssets']">
            <span matSuffix>млн.</span>
          </mat-form-field>

        </div>

        <div>

          <mat-form-field>
            <input matInput placeholder="Current Liabilities" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="assetsForm.controls['currentLiabilities']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Long Term Liabilities" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="assetsForm.controls['longTermLiabilities']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Total Liabilities" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="assetsForm.controls['totalLiabilities']">
            <span matSuffix>млн.</span>
          </mat-form-field>

        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Equity" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="assetsForm.controls['equity']">
            <span matSuffix>млн.</span>
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="flowForm">
      <form [formGroup]="flowForm">
        <ng-template matStepLabel>Cash Flow</ng-template>

        <div>
          <mat-form-field>
            <input matInput placeholder="Flow Operating Activities" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="flowForm.controls['flowOperatingActivities']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Amortization" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="flowForm.controls['amortization']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="NWC" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="flowForm.controls['nwc']">
            <span matSuffix>млн.</span>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Flow Investing Activities" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="flowForm.controls['flowInvestingActivities']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="CAPEX" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="flowForm.controls['capex']">
            <span matSuffix>млн.</span>
          </mat-form-field>

        </div>

        <div>

          <mat-form-field>
            <input matInput placeholder="Income Tax Paid" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="flowForm.controls['incomeTaxPaid']">
            <span matSuffix>млн.</span>
          </mat-form-field>

        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Flow Financing Activities" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="flowForm.controls['flowFinancingActivities']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="StockIssuance" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="flowForm.controls['stockIssuance']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="DividendsPaid" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="flowForm.controls['dividendsPaid']">
            <span matSuffix>млн.</span>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="EBITDA" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="flowForm.controls['ebitda']">
            <span matSuffix>млн.</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="FCF" currencyMask [options]="{ align:'left', prefix: ' ', thousands: ',', decimal: '.' }" [formControl]="flowForm.controls['fcf']">
            <span matSuffix>млн.</span>
          </mat-form-field>
        </div>

        <div>
          <button mat-button (click)="Save()">Save</button>
        </div>

      </form>
    </mat-step>

  </mat-horizontal-stepper>-->
