.tabs {
  color: rgb(34, 6, 59);

  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  width: 500px;
  //height: 250px;
  background: #f5f5f5;
  //padding: 20px 30px;
  overflow: hidden;
  //border-radius: 50px;
  //box-shadow: 5px 10px 5px #ccc;

  .tab-header {
    height: 60px;
    display: flex;
    align-items: center;

    > div {
      
      text-align: center;
      color: #888;
      font-weight: 600;
      cursor: pointer;
      font-size: 14px;
      text-transform: uppercase;
      outline: none;

      &.active {
        color: #143595;
      }

      > i {
        display: block;
        margin-bottom: 5px;
      }

      height: 100%;
      line-height: 55px;
    }

    > div:hover {
      background-color: #d6d6d6;
    }
  }

  .tab-indicator {
    position: relative;
    height: 2px;
    background: #f44336;
    left: 0px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
  }
}
