<mdc-top-app-bar>
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="___.__">
      <button mdcTopAppBarNavIcon>
        <mdc-icon>menu</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
      <mdc-icon mdcTopAppBarActionItem>print</mdc-icon>
      <mdc-icon mdcTopAppBarActionItem>bookmark</mdc-icon>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section>
      <mdc-tab-bar #financialTabBar (activated)="setActiveTab($event)" [activeTabIndex]="0">
        <mdc-tab-scroller>
          <mdc-tab *ngFor="let tab of topAppBarService.tabs | async" [label]="tab.label" [icon]="tab.icon"></mdc-tab>
        </mdc-tab-scroller>
      </mdc-tab-bar>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<!--<mat-sidenav-container class="nav-container">
  <mat-sidenav class="nav-sidenav" mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content class="nav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>-->

<!--<div #standardContent>
  <router-outlet></router-outlet>
</div>-->

<div mdcDrawerAppContent>
  Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam
  quo et. Diam phaedrum ei mea, quaeque
  voluptaria efficiantur duo no. Eu adhuc veritus civibus nec, sumo
  invidunt mel id, in vim dictas detraxit. Per an
  legere iriure blandit. Veri iisque accusamus an pri.
</div>
