<mdc-top-app-bar [scrollTarget]="standardContent">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="___.__">
      <button mdcTopAppBarNavIcon>
        <mdc-icon>menu</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
      <mdc-icon mdcTopAppBarActionItem>print</mdc-icon>
      <mdc-icon mdcTopAppBarActionItem>bookmark</mdc-icon>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section>
      <mdc-tab-bar #financialTabBar [activeTabIndex]="0">
        <mdc-tab-scroller>
          <mdc-tab label="Common"></mdc-tab>
          <mdc-tab label="Incomes"></mdc-tab>
          <mdc-tab label="Favorites"></mdc-tab>
        </mdc-tab-scroller>
      </mdc-tab-bar>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<!--<mat-sidenav-container class="nav-container">
  <mat-sidenav class="nav-sidenav" mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content class="nav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>-->

<div #standardContent>
  <router-outlet></router-outlet>
</div>