.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sales {
  height: 400px;
  display: flex;
  flex-direction: column;
}

.income {
  height: 400px;
  display: flex;
  flex-direction: column;
}
