.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.formGroup label {
  align-self: flex-start;
  font-size: 16px;
  margin-bottom: 3px;
}
.formGroup input,
select,
textarea {
  font-family: Arial;
  font-size: 16px;
  padding: 5px;
  border: lightgray solid 1px;
  border-radius: 5px;
}

.formGroup button {
  font-size: 16px;
  padding: 8px 5px;
  width: 80px;
  border: black solid 1px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.formGroup button:disabled {
  border: gray solid 1px;
  background-color: gray;
  cursor: not-allowed;
}

.formError {
  font-size: 13px;
  color: red;
  margin: 3px auto 0px 0px;
 }
 